<!DOCTYPE html>
<html xmlns::th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - MovieRama</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>

<!--<div sec:authorize="isAuthenticated()">-->
<!--    User is authenticated-->
<!--</div>-->

<!--<div sec:authorize="isAnonymous()">-->
<!--    Is Anonymous-->
<!--</div>-->

<div class="container">
    <div style="display: flex; justify-content: space-between; width: 85%;  align-items: center; margin: 15px 0 15px 0;">
        <h1>MovieRama</h1>
        <div sec:authorize="is">
            <a th:href="@{/login}">Log in</a> Or <a th:href="@{/register}" class="btn btn-primary">Sign up</a>
        </div>
    </div>

    <div style="display: flex;">
        <div class="sort-area" style="width: 85%; background-color: aliceblue; border: 3px solid black; padding: 15px; margin-bottom: 15px;">
            <div class="flex-container">
                <span>Sort by:</span> <a th:href="@{'/?sortBy=likes'}">Likes</a> | <a th:href="@{'/?sortBy=hates'}">Hates</a> | <a th:href="@{'/?sortBy=publicationDate'}">Date</a>
            </div>
        </div>
        <div>
            <a class="btn btn-info" th:href="@{/new_movie_form}"
               style="height: 60px; margin-left: 15px; display: flex; align-items: center; width: 150px; justify-content: center;">New
                Movie</a>
        </div>
    </div>


    <div style="width:100%; z-index:10;">
        <tr th:each="movie : ${movies}">
            <div style="border: 3px solid black; padding: 20px; margin-bottom: 10px; width: 85%;">
                <h2 th:text="${movie.title}">title</h2>
                <p> Posted by <a th:text="${movie.name + ' ' + movie.lastName + ' '}" th:href="@{#}"></a><span th:text="${movie.postedWhen}"></span></p>
                <p th:text="${movie.description}"></p>
                <br>
                <p>
                    <a th:text="'Likes ' + ${movie.likes}" th:href="@{#}">likes</a> |
                    <a th:text="'Hates ' + ${movie.hates}" th:href="@{#}"></a>
                </p>
            </div>
        </tr>
    </div>

</div>
</body>
</html>