<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home - MovieRama</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
</head>
<body th:with="isUserAuthenticated=${@auth.isUserAuthenticated()}">

    <div class="container">
        <div style="display: flex; justify-content: space-between; width: 85%;  align-items: center; margin: 15px 0 15px 0;">
            <h1><a th:href="@{/movies}" th:style="'cursor: default; color:#212529; text-decoration: none;'">MovieRama</a></h1>
            <div th:if="${isUserAuthenticated}">
                Welcome back <a th:href="@{/logout_page}" th:text="${@authenticated.getAuthenticatedUserFullName()}"></a>
            </div>
            <div th:if="!${isUserAuthenticated}">
                <a th:href="@{/login}">Log in</a> Or <a th:href="@{/register}" class="btn btn-primary">Sign up</a>
            </div>
        </div>

        <div style="display: flex;">
            <div class="sort-area" style="width: 85%; background-color: aliceblue; border: 3px solid black; padding: 15px; margin-bottom: 15px;">
                <div class="flex-container">
                    <span>Sort by:</span> <a th:href="@{'/movies?sortBy=likes'}">Likes</a> | <a th:href="@{'/movies?sortBy=hates'}">Hates</a> | <a th:href="@{'/movies?sortBy=publicationDate'}">Date</a>
                </div>
            </div>
            <div th:if="${isUserAuthenticated}">
                <a class="btn btn-info" th:href="@{/new_movie_form}"
                   style="height: 60px; margin-left: 15px; display: flex; align-items: center; width: 150px; justify-content: center;">New
                    Movie</a>
            </div>
        </div>

        <div th:if="${moviesResponse.getContent().isEmpty()}">
            <h1 th:style="'text-align: center; padding-top:40px; width: 85%; color:darkgray;'">
                No results found.
            </h1>
        </div>

        <div th:if="${!moviesResponse.getContent().isEmpty()}" style="width:100%; z-index:10;">
            <tr th:each="movie : ${moviesResponse.getContent()}">
                <div style="border: 3px solid black; padding: 20px; margin-bottom: 10px; width: 85%;">
                    <h2 th:text="${movie.title}">title</h2>
                    <p> Posted by
                        <a th:text="${movie.owned ? 'You' : movie.name + ' ' + movie.lastName + ' '}" th:href="@{'/movies?postedBy='+${movie.getUserId()}}"></a>
                        <span th:text="${movie.postedWhen}"></span></p>
                    <p th:text="${movie.description}"></p>
                    <br>

                    <div id="opinions-area">
                        <!-- If User is unauthorized or is authorized and owner of the post, don't allow opinion-->
                        <div id="op-immutable" th:if="${!isUserAuthenticated || (isUserAuthenticated && movie.owned)}">
                            <p  style="display: flex">
                                <span th:text="'Likes ' + ${movie.likes}" style="margin-right: 5px;">likes</span> |
                                <span th:text="'Hates ' + ${movie.hates}" style="margin-left: 5px;"></span>
                            </p>
                        </div>


                        <!-- If User is authorized and is not the owner of the post, allow opinion-->
                        <span id="op-mutable" style="display: flex; position:relative;" th:if="${isUserAuthenticated && !movie.owned}" th:with="hasNoOpinions=${(movie.likes == 0) && (movie.hates == 0)}">
                            <p>

                            <span th:if="${hasNoOpinions}" th:style="'margin-right: 20px;'">
                                Be the first one to vote for this movie
                            </span>

                            <div style="display: flex">
                                <a th:if="${!movie.liked}"
                                   th:text="${hasNoOpinions ? 'Like' : 'Likes ' + movie.likes}"
                                   style="color: #007bff; cursor: pointer; margin-right: 5px;"
                                   hx-trigger="click"
                                   th:attr="hx-post=@{'/api/v1/movie-opinions/'+${movie.id}+'/like'}"
                                   hx-target="closest span"
                                   hx-swap="outerHTML"
                                />
                                <div th:if="${movie.liked}"
                                     th:text="'Likes ' + ${movie.likes}"
                                     style="margin-right: 5px;">
                                </div>
                                |
                                <a th:if="${!movie.hated}"
                                   th:text="${hasNoOpinions ? 'Hate' : 'Hates ' + movie.hates}"
                                   style="color: #007bff; cursor: pointer; margin-left: 5px;"
                                   hx-trigger="click"
                                   th:attr="hx-post=@{'/api/v1/movie-opinions/'+${movie.id}+'/hate'}"
                                   hx-target="closest span"
                                   hx-swap="outerHTML"
                                />
                                <div th:if="${movie.hated}"
                                     th:text="'Hates ' + ${movie.hates}"
                                     style="margin-left: 5px;">
                                </div>
                            </div>

                            <div th:if="${movie.liked || movie.hated}" style="position: absolute; right: 0;">
                                <div style="display: flex">
                                    <div th:text="'You ' + ${movie.liked ? 'like' : 'hate' } +' this movie | '"></div>
                                    <a th:text="${movie.liked ? 'Unlike' : 'Unhate' }" style="margin-left: 5px; color: #007bff; cursor: pointer;"
                                       hx-trigger="click"
                                       hx-target="closest span"
                                       th:attr="hx-post=@{'/api/v1/movie-opinions/'+${movie.id}+'/'+${movie.liked ? 'like' : 'hate'}}"
                                    />
                                </div>
                            </div>
                        </span>

                    </div>

                </div>
            </tr>

            <ul th:style="'display: flex; text-aling: center; list-style-type:none; position: absolute; left: 40%; padding-bottom: 30px'">
                <li th:each="page : ${#numbers.sequence(1, moviesResponse.getTotalPages())}" >
                    <a th:text="${page}" th:href="@{'/movies?' + ${(lastSortBy != null) ? 'sortBy='+lastSortBy+'&' : ''}+'pageNo='+${page}}" th:style="${page == (moviesResponse.getPageNo() + 1)} ? 'pointer-events: none; cursor: default; color: gray; margin-left: 10px; ' : 'margin-left: 10px'"></a>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>